<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
    <header>
        <a href="/" class="a"><h1 class="h1">마일리지 입력</h1></a>
    </header>
    <nav>
        <ul class="list">
            <li>
                <a href="/check">확인 및 수정</a>
            </li>
            <li>
                <a href="/join">회원가입</a>
            </li>
            <li><a href="/manage">관리자 전용</a></li>
        </ul>
    </nav>
    <main>
        <section>
                <h3>입력이 완료되었습니다</h3>
                <a href="/"><button type="submit" style="cursor: pointer" id="last_button">확인</button></a>
            </form>
        </section>
    </main>
</body>
</html>